/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
span.toolbar {
  text-align: center;
  display: inline-block;
  width: 100%;
}
.filterbox {
  font-style: italic;
}